.button-row
  .button_strip
    %ul.button-group.round.right

      - if @buttons.include?(:index)
        %li= link_to(icon('list',"List"), shopping_list_days_path, class: 'button')

  %h1= @page_heading.gsub(/\s/, '&nbsp;').html_safe