= render partial: 'button_strip'
= render partial: '/collection_meals/show', locals: { target: @shopping_list_day, show_actions: true, depth: 0 }
= render partial: '/collection_recipes/show', locals: { target: @shopping_list_day, show_actions: true, depth: 0 }
= render partial: '/collection_ingredients/show', locals: { target: @shopping_list_day, show_actions: true, depth: 0 }