= render partial: 'button_strip'
= render partial: 'collections/show', locals: {id: "collection_#{@shopping_list_day.id}", collection: @shopping_list_day.collection, hidden_initially: true, show_prefix: true}