- content_for :title do
  Password Recovery

.box
  %h2 Password Recovery Email Sent
  If the email address you entered is recognised a password recovery email will be sent.  You have
  = pluralize(User::PASSWORD_RESET_EXPIRY / 3600, "hour")
  to use the link contained in the email.

.columns.no-padding
  = link_to "Continue", root_path, class: "button right"

