= render partial: 'button_strip'
= render partial: 'collections/show', locals: {id: "collection_#{@menu_rotation.id}", collection: @menu_rotation.collection, hidden_initially: true, show_prefix: false}