= render partial: 'button_strip'

- if @ingredients.any?
  %table.full
    %tbody
      - @ingredients.each do |ingredient|
        %tr
          %td= link_to ingredient.name, ingredient, class: "Name"
