= render partial: 'button_strip'

- if @ingredients.any?
  %table.full
    %thead
      %tr
        %th Name
        %th Purchase unit
    %tbody
      - @ingredients.each do |ingredient|
        %tr
          %td= link_to ingredient.name, ingredient, class: "Name"
          %td= ingredient.unit.try(:name)
