.button-row
  .button_strip
    %ul.button-group.round.right
      - if @meal_recipe_buttons.include?(:save)
        %li= link_to(icon('save',"Save"), @recipe_ingredient, class: 'button submit')

      - if @meal_recipe_buttons.include?(:cancel)
        %li= link_to(icon('undo',"Cancel"), session[:meal_recipe_return_to], class: 'button')

      - if @meal_recipe_buttons.include?(:delete)
        %li= link_to(icon('trash',"Delete"), @recipe_ingredient, class: 'button', data: {confirm: 'Are you sure?'}, method: :delete)

  %h1= @meal_recipe_page_heading.gsub(/\s/, '&nbsp;').html_safe