= render partial: 'button_strip'

- if @units.any?
  %table.full
    %thead
      %tr
        %th Name
        %th Kind
        %th Rate

    %tbody
      - @units.each do |unit|
        %tr
          %td= link_to unit, edit_food_menus_unit_path(unit), class: "name"
          %td= unit.kind
          %td.right-align= unit.conversion_rate