.row
  .columns
    %h1 Menus and Budgets
    %h2 Already registered?
    = render partial: "/pages/form"
.row
  .columns.explainer
    %h2
      New user?
      %p.intro-copy
      = link_to "Register here", new_user_path, class: "new_user", title: "Users' registration page"
