.button-row
  .button_strip
    %ul.button-group.round.right
      - if @shopping_list_ingredient_buttons.include?(:new)
        %li= link_to(icon('plus',"New Ingredient"), new_food_menus_shopping_list_ingredient_path, class: 'button')

      - if @shopping_list_ingredient_buttons.include?(:save)
        %li= link_to(icon('save',"Save"), @shopping_list_ingredient, class: 'button submit')

      - if @shopping_list_ingredient_buttons.include?(:cancel)
        %li= link_to(icon('undo',"Cancel"), food_menus_shopping_list_ingredients_path, class: 'button')

  %h1= @shopping_list_ingredient_page_heading.gsub(/\s/, '&nbsp;').html_safe