.button-row
  .button_strip
    %ul.button-group.round.right
      - if @shopping_list_ingredient_buttons.include?(:new)
        %li= link_to(icon('plus', 'Add Ingredient'), new_food_menus_shopping_list_ingredient_path(reset_back: true), class: 'button')

      - if @shopping_list_ingredient_buttons.include?(:save)
        %li= f.button icon('save', 'Save'), class: 'button'

      - if @shopping_list_ingredient_buttons.include?(:cancel)
        %li= link_to(icon('undo', 'Cancel'), food_menus_shopping_list_ingredients_path, class: 'button')

  %h1= @shopping_list_ingredient_page_heading.gsub(/\s/, '&nbsp;').html_safe