-# .button-row
-#   .button_strip
-#     %ul.button-group.round.right

-#       - if @shopping_list_buttons.include?(:index)
-#         %li= link_to(icon('list',"List"), shopping_lists_path, class: 'button')

-#   %h1= @shopping_list_page_heading.gsub(/\s/, '&nbsp;').html_safe