= render partial: '/budgets/shared/button_strip'
= render partial: '/budgets/shared/tabs'
.columns.tabs-content
  = form_for @account, :method => "put" do |a|
    = a.fields_for :expenses, @payment do |f|
      -# .row
      -#   .large-4.columns
      -#     = "Transaction date:"
      -#     = f.date_field :expense_date, include_blank: true, disabled: @expense.is_opening?
      -#   .large-4.columns
      -#     = "Type:"
      -#     = f.select :expense_type, Budgets::Transaction::TYPES, {}, {disabled: @expense.is_opening?}
      -#   .large-4.columns
      -#     = "Amount:"
      -#     = f.number_field :amount, value: number_to_currency(@expense.amount, delimiter: '', unit: ''), step: :any
      -#   .large-6.columns
      -#     = "Particulars:"
      -#     = f.text_field :particulars, disabled: @expense.is_opening?
      -#   .large-6.columns
      -#     = "Details:"
      -#     = f.text_field :details, disabled: @expense.is_opening?

