/* Variables */

/* Font Sizes */
$large-font-size:             15px;
$std-lg-font-size:            13px;
$std-font-size:               12px;
$std-sm-font-size:            11px;
$small-font-size:             10px;
$tiny-font-size:              9px;

/* Widths and Heights */
$min-width:                   1000px;
$header-height:               61px;
$header-logo-width:           308px;
$header-logo-height:          46px;
$home-text-box-wth:           230px;
$home-text-box-hgt:           15px;
$submenu-widht:               229px;
$checkout-address-wth:        332px;
$input-width:                 200px;
$child_measurs-box-hgt:       510px;
$measure-bar-label-wth:       100px;

// Image Widths and Heights
$tag-crest-width:             130px;
$tag-crest-height:            115px;

/* Margins */
$input-spacing:               10px; // Normally the left margin for input and input labels

/* Front Page */
$front-page-box-width:        408px;
$front-page-box-height:       114px;

/* Padding and Margings */
$static-pg-horz-padding:    30px;

/* Lists */
$static-pg-li-line-height:  125%;
