/*
  *= require_self
  *= require config/foundation_and_overrides
  *= require jquery-ui
  *= require jquery.treeview
  *= require jquery.swinxy-combined
  *= require elrte.min
  *= require_tree ./views
*/

$include-html-classes: false;

@import 'global_variables';
@import 'colours';
@import 'config/foundation_and_overrides';
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Droid+Sans');

 h1, h2, h3, h4, h5, h6 {
  color: #222222;
  font-family: "Droid Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.4;
  margin-bottom: 0.5rem;
  margin-top: 0.2rem;
  text-rendering: optimizeLegibility;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: #6f6f6f;
  font-size: 60%;
  line-height: 0;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0.85rem;
}

h5 {
  font-size: 0.8rem;
}

h6 {
  font-size: 0.7rem;
}

.clb {
  clear: both;
}

.button-row{
  padding-top: 1em;
}

.items_table{
  padding-top: 0.8em;
}

button, .button {
  margin: 0 !important;
  font-size: 0.95em;
}

.padding-left {
  padding-left: 1em;
}

.margin-top {
  margin-top: 1em !important;
}

.margin-bottom {
  margin-bottom: 1em !important;
}

.margin-right {
  margin-right: 0.75em !important;
}

.larger{
  font-size: 1em;
}

fieldset{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding: 5px !important;
}

legend{
  font-size: 10px
}

.bottom {
  bottom: 15px;
  &.left {
    left: 15px;
  }
  &.middle {
    left: 250px;
  }
  &.right {
    right: 15px;
  }
  &.full-width {
    bottom: 0;
    left: 15px;
    right: 15px;
    &.margin-bottom {
      bottom: 15px;
    }
  }
}

.hidden {
  display: none;
}

span.nowrap, b.nowrap {
  white-space: nowrap;
}

em {
  color: $primary-color;
  font-weight: bold;
  font-style: inherit;
}

.today{
  background: #FF9933;
}

table {
  margin-bottom: 0 !important;
  thead tr {
    th.nowrap {
      white-space: nowrap;
    }
    th {
      text-align: center;
      font-size: 0.8em;
    }
  }
  tbody tr {
    td.nowrap {
      white-space: nowrap;
    }
    td{
      font-size: 1em;
      padding-left: 5px;
      padding-right: 5px;
    }
    td.center-align {
      text-align: center;
    }
    td.right-align {
      text-align: right;
    }
  }
}

table.full {
  width: 100%;
}

table tr.even, table tr.alt, table tr:nth-of-type(even) {
  background: #DDDDDD !important;
}

div.columns.scrolling {
  max-height: 30em;
  overflow-y: scroll;
}

div#button-strip ul.button-group {
  margin-top: 0.5em;
}

div.row.login {
  margin-top: 20px;
}

section.top-bar-section a {
  font-size: rem-calc(17);
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.info-message {
  border: 1px $colour_sb_light_grey solid;
  background: $colour_sb_light_grey url(image_path('alerts-message-thumb.png')) no-repeat top 8px left 7px;
  width: 100%;
  padding-left: 45px;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 0.9em;
  z-index: 1002;
  &.notice {
    background: $colour_sb_light_grey url(image_path('alerts-warning-thumb-blue.png')) no-repeat top 8px left 7px;
    border: 1px $colour_sb_blue solid;
  }
  &.alert {
    border: 1px $colour_sb_red solid;
    background: $colour_sb_red url(image_path('alerts-warning-thumb-red.png')) no-repeat top 8px left 7px;
  }
  .message-content {
    background-color: $white;
    padding: 10px;
  }
}

.no-padding {
  padding: 0 !important;
}
.no-left-padding {
  padding-left: 0 !important;
}
.no-right-padding {
  padding-right: 0 !important;
}
.no-margin {
  margin: 0;
}

.flash-popup {
  border: 1px $colour_sb_light_grey solid;
  background: $colour_sb_light_grey url(image_path('alerts-message-thumb.png')) no-repeat top 8px left 7px;
  max-width: 500px;
  min-width: 250px;
  min-height: 70px;
  position: absolute;
  top: 10px;
  right: 10px;
  padding-left: 45px;
  display: none;
  z-index: 1002;
  &.notice {
    background: $colour_sb_light_grey url(image_path('alerts-warning-thumb-blue.png')) no-repeat top 8px left 7px;
    border: 1px $colour_sb_blue solid;
  }
  &.alert {
    border: 1px $colour_sb_red solid;
    background: $colour_sb_red url(image_path('alerts-warning-thumb-red.png')) no-repeat top 8px left 7px;
  }
  .message-content {
    display: block;
    background-color: $white;
    padding: 10px;
    min-height: 70px;
  }
}


//  ref: mobile-menu

.side-bar-section {
  border-top: 6px $colour_sb_dark_grey solid;
  li {
    position: relative;
    display: block;
    img {
      position: relative;
      display: block;
      z-index: 10;
      width: 100%;
      height: 100%;
    }
    a:not(.button):hover {
      background: $colour_sb_light_grey !important;
      display: block;
    }
    div.nav-hover {
      display: none;
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      color: $colour_sb_dark_grey;
      font-weight: bold;
      z-index: 0;
    }
    &.scbmenu-in div.nav-hover {
      color: $colour_sb_dark_grey;
    }
    &:hover div.nav-hover {
      display: block;
    }
  }
  ul li {
    &.active > a {
      background: $colour_sb_light_grey !important;
      &:hover {
        background: $colour_sb_light_grey !important;
      }
    }
    &:first-of-type div.nav-hover {
      top: 12px;
    }
  }
}

.sidegrey {
  background: $colour_sb_dark_grey;
  margin: 0;
  padding: 90px 0 7em;
  width: 100px;
  position: relative;
  top: -90px;
  z-index: 1000;
}
.sidegrey-background-menu {
  background: $colour_sb_dark_grey;
  width: 100px;
  position: fixed;
  z-index: -400;
  height: 100vh;
}
.sidegrey-base {
  bottom: 0;
  background: $colour_sb_dark_grey;
  height: 0.4em;
}

@media #{$small-only} {
  .sidegrey-background-menu {
    display: none;
  }
}
