/*
  *= require_self
  *= require jquery-ui
  *= require jquery.treeview
  *= require jquery.swinxy-combined
  *= require elrte.min
  *= require_tree ./food_menus
*/

$include-html-classes: false;

@import 'global_variables';
@import 'colours';
@import 'config/foundation_and_overrides';
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Droid+Sans');

body {
  background: url(image_path('background.jpg'));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: black;
  min-width: 320px;
}

.content{
  overflow: auto;
  overflow-x: hidden;
  padding: 10px;
}

.form {
  background: $white-smoke;
  border: 0;
  padding: 10px;
  overflow: hidden;
  border-radius: 10px;
}

.log-in-button{
  position: relative;
  top: 14px;
  padding: 10px 25px 9px 25px !important;
}

.explainer {
  text-align: center;
  background: $white-smoke;
  border: 0;
  margin: 2em 0 0 0;
  padding: 1.25em;
}

.intro-copy {
  clear: both;
  font-weight: 400;
  font-size: 0.8em;
  line-height: 1.4em;
  margin: 0 0 0.5em 0;
  padding: 0;
  a {
    font-weight: 600;
  }
}

h1, h2, h3, h4, h5, h6, form, label, p, ul, li, a, button {
  font-family: $font_0, $font_1 !important;
  color: $colour_menus_darker_grey;
}

a {
  color: $colour_menus_red;
}

 h1, h2, h3, h4, h5, h6 {
  font-style: normal;
  font-weight: normal;
  line-height: 1.4;
  margin-bottom: 0.5rem;
  margin-top: 0.2rem;
  text-rendering: optimizeLegibility;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 60%;
  line-height: 0;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
  &.warning {
    display: block;
    width: 100%;
    color: $white;
    background-color: $colour_menus_red;
    padding: 15px;
  }
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0.85rem;
}

h5 {
  font-size: 0.8rem;
}

h6 {
  font-size: 0.7rem;
}

label{
  font-size: 0.8rem;
}

.absent {
  display: none !important;
}

.clb {
  clear: both;
}

.button-row{
  padding-top: 1em;
}

.items_table{
  padding-top: 0.8em;
}

button, .button {
  margin: 0 !important;
  font-size: 0.75em !important;
}

.button {
  border-radius: 10px !important;
}

.padding-left {
  padding-left: 1em;
}

.margin-top {
  margin-top: 1em !important;
}

.margin-bottom {
  margin-bottom: 1em !important;
}

.margin-right {
  margin-right: 0.75em !important;
}

.larger{
  font-size: 1em;
}

fieldset{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding: 5px !important;
  border-radius: 5px;
}

legend{
  font-size: 10px;
}

.bottom {
  bottom: 15px;
  &.left {
    left: 15px;
  }
  &.middle {
    left: 250px;
  }
  &.right {
    right: 15px;
  }
  &.full-width {
    bottom: 0;
    left: 15px;
    right: 15px;
    &.margin-bottom {
      bottom: 15px;
    }
  }
}

.hidden {
  display: none;
}

span.nowrap, b.nowrap {
  white-space: nowrap;
}

em {
  color: $primary-color;
  font-weight: bold;
  font-style: inherit;
}

.is_today{
  background: #FF9933;
}

table {
  margin-bottom: 0 !important;
  border-radius: 5px;
  thead tr {
    th.nowrap {
      white-space: nowrap;
    }
    th {
      text-align: center;
      font-size: 0.8em;
      border-radius: 5px;
    }
  }
  tbody tr {
    td.nowrap {
      white-space: nowrap;
    }
    td{
      font-size: 1em;
      padding-left: 5px;
      padding-right: 5px;
      border-radius: 5px;
    }
    td.center-align {
      text-align: center;
    }
    td.right-align {
      text-align: right;
    }
  }
}

table.full {
  width: 100%;
}

table tr.even, table tr.alt, table tr:nth-of-type(even) {
  background: #DDDDDD !important;
}

div.columns.scrolling {
  max-height: 30em;
  overflow-y: scroll;
}

div#button-strip ul.button-group {
  margin-top: 0.5em;
}

div.row.login {
  margin-top: 20px;
}

section.top-bar-section a {
  color: white;
  text-decoration: none;
  ul li {
    &.active > a {
      background: $colour_menus_light_grey !important;
      &:hover {
        background: $colour_menus_light_grey !important;
      }
    }
    &:first-of-type div.nav-hover {
      top: 12px;
    }
  }
}

.top-bar-section ul li > a {
  font-size: 0.75em !important;
}

.info-message {
  border: 1px $colour_menus_light_grey solid;
  background: $colour_menus_light_grey url(image_path('alerts-message-thumb.png')) no-repeat top 8px left 7px;
  width: 100%;
  padding-left: 45px;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 0.9em;
  z-index: 1002;
  &.notice {
    background: $colour_menus_light_grey url(image_path('alerts-warning-thumb-blue.png')) no-repeat top 8px left 7px;
    border: 1px $colour_menus_blue solid;
  }
  &.alert {
    border: 1px $colour_menus_red solid;
    background: $colour_menus_red url(image_path('alerts-warning-thumb-red.png')) no-repeat top 8px left 7px;
  }
  .message-content {
    padding: 10px;
  }
}

.add-button {
  position: absolute;
  bottom: 1.3rem !important;
  right: 0.5rem !important;
}

.no-padding {
  padding: 0 !important;
}

.no-left-padding {
  padding-left: 0 !important;
}

.no-right-padding {
  padding-right: 0 !important;
}

.padding-left {
  padding-left: 5px !important;
}

.margin-left {
  margin-left: 20px !important;
}

.no-margin {
  margin: 0;
}

.flash-popup {
  border: 1px $colour_menus_light_grey solid;
  background: $colour_menus_light_grey url(image_path('alerts-message-thumb.png')) no-repeat top 8px left 7px;
  max-width: 500px;
  min-width: 250px;
  min-height: 70px;
  position: absolute;
  top: 10px;
  right: 10px;
  padding-left: 45px;
  display: none;
  z-index: 1002;
  &.notice {
    background: $colour_menus_light_grey url(image_path('alerts-warning-thumb-blue.png')) no-repeat top 8px left 7px;
    border: 1px $colour_menus_blue solid;
  }
  &.alert {
    border: 1px $colour_menus_red solid;
    background: $colour_menus_red url(image_path('alerts-warning-thumb-red.png')) no-repeat top 8px left 7px;
  }
  .message-content {
    display: block;
    background-color: $white-smoke;
    padding: 10px;
    min-height: 70px;
  }
}

.button-row {
  padding-top: 0;
}

.fa{
  padding-right: 5px;
}
.top-bar-section ul li {
  float: left;
}

.normal{
  font-weight: normal;
}