.quick-search {
  position: relative;
  input[type="text"] {
    padding-right: 70px;
  }
  .button {
    position: absolute;
    top: 0;
    right: 0;
  }
  &.child-growth-models {
    border-bottom: solid 1px $hr-border-color;
    margin-bottom: 2em;
    @media #{$small-only} {
      .row {
        margin-right: 0;
      }
      .button {
        position: static;
      }
    }
    @media #{$medium-up} {
      padding-bottom: 1em;
      .row {
        margin-right: 65px;
      }
      .button {
        top: 18px;
      }
    }
  }
}
