.sections-tree {
  list-style: none;
  border: solid 1px $hr-border-color;
  margin: 10px 0;

  .line {
    position: relative;
    .list_name {
      padding-right: 40px
    }
    .list_actions {
      position: absolute;
      right: 5px;
      top: 2px;
      font-size: 15px;
      display: none;
    }
    &:hover {
      .list_actions {
        display: block;
      }
    }
  }

  li {
    padding: 10px 5px 10px 15px;
    border-bottom: solid 1px $hr-border-color;
    position: relative;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      background: rgba(0,0,0,0.025);
    }
    &.open {
      ul {
        display: block;
        li {
          ul {
            display: none;
          }
          &.open {
            ul {
              display: block;
            }
          }
        }
      }
    }
    ul {
      list-style: none;
      margin: 0 0 0 5px;
      padding: 0;
      display: none;
      li {
        border-bottom: 0;
        border-left: solid 1px $hr-border-color;
        padding-left: 40px;
        padding-right: 0;
        &::before {
          content: '';
          position: absolute;
          width: 35px;
          height: 1px;
          left: 0;
          top: 20px;
          background: $hr-border-color;
        }
        ul {
          margin-left: -20px;
          li {
            padding: 3px 0 3px 20px;
            font-size: 12px;
            border-left: none;
            font-weight: normal;
            cursor: default;
            &::before {
              content: '';
              position: absolute;
              width: 15px;
              height: 1px;
              left: 0;
              top: 50%;
              background: $hr-border-color;
              margin-top: -2px;
            }
            &::after {
              content: '';
              position: absolute;
              width: 1px;
              height: 26px;
              top: -14px;
              left: -1px;
              background: $hr-border-color;
            }
            &:first-child {
              &::after {
                top: -14px;
                height: 26px;
              }
            }
            .line {
              .list_actions {
                top: -1px;
              }
            }
          }
        }
      }
    }
  }
}
