table.nested{
  border: 0;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  background: inherit;
  tr {
    background: inherit;
  }
}
td.actions, th.actions {
  white-space: nowrap;
  text-align: right;
  a {
    font-size: 130%;
  }
}
td.negative {
  color: #C20E1A;
}
td.spacer, th.spacer {
  background: white;
  border: none;
  padding: 0;
  margin: 0;
}
td.center, th.center {
  text-align: center;
}
