/* list tree */
div.tree {max-height:450px; max-width:928px; padding:0px; border:0px; margin:10px 0px 0px; overflow:auto;}
ul#tree {width:auto; max-width:1028px; padding:0px; border:0px; margin:0px;}
ul#tree li, ul#tree li ul li {clear:both; width:auto; padding:5px 0px 5px 16px;}
ul#tree > li {width:880px; padding:5px 10px 5px 16px; background-color:#f5f4f2; border:1px solid #cbcac9; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
ul#tree > li.collapsable {background-color:#fff; border-color:#1cc4da;}

li div.line {overflow:hidden;}
li div.line:hover {background-color:#f8f7f5;}
li div.line.archived {color:#a90d13;}
li div.line div.list_name {float:left;}
li div.line div.list_actions {float:right; visibility:hidden;}
li div.line div.list_actions span {display:inline-block; width:18px; height:17px; padding-right:5px;}

div.line:hover > div.list_actions {visibility:visible;}

div.accord_content div.tree {max-height:200px; max-width:192px; overflow:auto;}
div.accord_content div.tree ul#tree {width:170px; border:0px; background-color:transparent;}
div.accord_content div.tree ul#tree li {width:151px; border:0px; background-color:transparent;}
div.accord_content div.tree ul#tree li ul li {width:auto;}

.tree_promotions {margin-top:5px; max-height:400px; overflow:auto;}
.tree_promotions ul#tree > li {max-width:394px;}
.tree_promotions ul.show ul.show li {padding-left:10px;}
