.button-row
  .button_strip
    %ul.button-group.round.right
      - if @collection_meal_buttons.include?(:save)
        %li= link_to(icon('save',"Save"), @collection_meal, class: 'button submit')

      - if @collection_meal_buttons.include?(:cancel)
        %li= link_to(icon('undo',"Cancel"), session[:collection_meal_return_to], class: 'button')

      - if @collection_meal_buttons.include?(:delete)
        %li= link_to(icon('trash',"Delete"), @collection_meal, class: 'button', data: {confirm: 'Are you sure?'}, method: :delete)

  %h1= @collection_meal_page_heading.gsub(/\s/, '&nbsp;').html_safe